#directory
**/.idea/**
**/.next/**
**/.vercel/**
**/.pnp/**
**/node_modules/**
**/coverage/**
**/out/**
**/build/**
**/target/**
**/lib/**
**/upload/**
**/repo/**
**/open-nlp-model/**
**/log/**

#file
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.zip
*.iml
*.bin
*.tab
*.at
*.len
.DS_Store
*.pem
*.html
*.iss
*.cmd